.row.comment.my-3.p-3
  .col-sm-12
    %p
      = object.user.email
    .float-right
      %button.btn.btn-secondary.btn-sm.comment_edit_button{'data-id': object.id, 'data-post-id': object.parent_id}
        Edit
      %span.likes-count
        = object.favoritors.count.positive? ? object.favoritors.count : nil
      - unless object.favorited_by?(current_user)
        = link_to like_comment_likes_path(object.id), remote: true do
          %i.fa.fa-thumbs-up.fa-fa-2x
      - else
        = link_to unlike_comment_likes_path(object.id), remote: true do
          %i.fa.fa-thumbs-up.fa-fa-2x.liked
    %p
      = object.body
    - if object.media.attached?
      = render 'shared/render_media', object: object
