#pins.transitions-enabled
  - @posts.each do |post|
    .post-box{'data-link': post_path(post.id)}
      .panel.panel-default
        %br/
        .panel-body
          = post.id
          %blockquote= post.body
          %br/
          - if post.media.attached?
            = render 'shared/render_media', object: post
          .panel-footer
            By:
            %strong= post.user.email if post.user
      - if post.comments.present?
        - post.comments.order(created_at: :desc).each do |comment|
          = render 'shared/render_comment', object: comment
      .new-comment
        = render 'shared/comment', object: post

    %hr
