#posts.transitions-enabled
  .row.mr-2
    .col-sm-12
      - @posts.each do |post|
        .post-box.mt-3.mx-auto
          .panel.panel-default
            %span
              .panel-header
                %strong= post.user.email
                %span.ml-5
                  = link_to 'Show', post_path(post)
                .float-right
                  %span.likes-count{id: "post_#{post.id}"}
                    = post.favoritors.count.positive? ? post.favoritors.count : nil
                  %i.fa.fa-thumbs-up.fa-fa-2x.cursor-pointer{class: "#{'liked' if post.favorited_by?(current_user)}", 'data-object-type': post.class.name, 'data-object-id': post.id, id: "thumb_#{post.class.name.downcase}_#{post.id}"}
                %hr/
              .panel-body
                .row
                  .col-md-12
                    %blockquote= post.body
                    - if post.media.attached?
                      = render 'shared/render_media', object: post
                .panel-footer.mt-5
                  - if post.comments.present?
                    %h5
                      Comments
                    - post.comments.order(created_at: :desc).each do |comment|
                      .comment{id: "comment_show_#{comment.id}", 'data-post-id': post.id}
                        = render 'shared/render_comment', object: comment
                      .edit_comment{id: "comment_edit_#{comment.id}", 'data-post-id': post.id}
                        = render 'shared/edit_comment', object: comment
          .new-comment{id: "new_comment_#{post.id}"}
            = render 'shared/comment', object: post

        %hr
  .mt-2
    = page_entries_info @posts, entry_name: 'post'
    .float-right.mr-4
      = paginate @posts

:javascript
  $(document).ready(function(){
    $('.edit_comment').prop('hidden', true)
    $('.comment_edit_button').on('click', function(){
      comment_id = $(this).attr('data-id');
      post_id = $(this).attr('data-post-id');
      console.log(post_id)
      $("#comment_edit_" + comment_id).prop('hidden', false)
      $("#comment_show_" + comment_id).prop('hidden', true)
      $('#new_comment_' + post_id).prop('hidden', true)
    })
  })
