.entries
  = page_entries_info @posts, entry_name: 'post'
#pins.transitions-enabled.mt-5
  .row.mr-2
    .col-sm-12
      - @posts.each do |post|
        .post-box.mt-3.mx-auto
          .panel.panel-default
            .panel-header
              %smap.status
                Status:
                = post.status.humanize
              %span.float-right.d-flex
                - if post.draft?
                  .mr-2
                    = link_to 'Publish', post_publish_path(post.id)
                = link_to 'Show', post_path(post)
            .panel-body.mt-4
              %blockquote= post.body
              %br/
              - if post.media.attached?
                = render 'shared/render_media', object: post
              .panel-footer.mt-3
                - if post.comments.present?
                  %h5
                    Comments
                  - post.comments.order(created_at: :desc).each do |comment|
                    = render 'shared/render_comment', object: comment
      .mt-2
        = page_entries_info @posts, entry_name: 'post'
        .float-right.mr-4
          = paginate @posts
