%p#notice= notice
.row.vh-100
  .col-md-8
    %blockquote= @post.body
    - if @post.media.attached?
      = render 'shared/render_media', object: @post
  .col-md-4.comments
    %h5
      Comments
      = "(#{@post.comments.count})"
    .new-comment
      = render 'shared/comment', object: @post
    - if @post.comments.present?
      - @post.comments.order(created_at: :desc).each do |comment|
        = render 'shared/render_comment', object: comment
.options.mt-5
  - if post.draft?
    = link_to 'Edit', edit_post_path(@post)
  \|
  = link_to 'Back', posts_path
  \|
  = link_to 'Destroy', post_path, method: :delete, data: { confirm: 'Are you sure?' }
